<h3>Planning and problem solving</h3>
<dl>
<dt>Planning</dt>
<dd>descripe how you plan projects</dd>
<dt>problem solving</dt>
<dd>describe 1-3 problem solving techniques you use </dd>
<dd>explain differences in solo and team work. Describe how you work in teams</dd>
</dl>
